body {
    background-color: rgb(198, 175, 164);
}
.team-heading {
    background-color: rgb(206, 122, 82);
    border-bottom: thick solid whitesmoke;
    border-width: 1rem;
}
.card-header {
    background-color: rgb(206, 122, 82);
    border-bottom: thick solid whitesmoke;
    border-width: 0.5rem;
}
.employee-card {
    border: thin solid whitesmoke;
    border-width: 0.25rem;
    margin: 0.2rem;
}
.card-body {
    background-color: rgb(194, 151, 131);
}
.list-group-item {
    background-color: rgb(226, 223, 223);
}